*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Japanese Style', sans-serif;
}
    body {
        display: flex;
        background: url(/cyberpunk-city-buildings-art.jpg) center/cover no-repeat;
        min-height: 100vh;
        justify-content: center;
    }
    section {
        margin: 120px;
        width: 360px;
    }
    .head{
        align-items: center;
        height: 50px;
        display: flex;
        border: 2px solid rgba(255, 0, 0, 0.291);
        border-radius: 16px;
        background-color: rgba(254, 68, 31, 0.391);
    }
    #tbl {
        border-collapse: collapse;
        margin: 10px 0; 
       
        }
    td { 
        width: 360px;
        height: 50px;
        margin-top: 5px;
        text-align: center;
        border: 1px solid rgb(0, 60, 255); 
        display: flex; 
        justify-content: space-between;
        align-items: center;
        padding-left: 14px;
        font-size: 24px;
        font-weight: bold;
        color: rgb(255, 9, 9);
        background-color: rgba(247, 249, 246, 0.727);
        border-radius: 12px;
     }
    button { 
        margin-left: 5px; 
        cursor: pointer;
    }
    .remove-btn {
        background-color: red;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 14px;

    }

    input {
        width: 240px;;
        outline: none;
        height: 40px;
        background-color: rgba(0, 255, 255, 0.44);
        border: 1px solid rgb(130, 238, 130);
        color:rgb(231, 250, 112);
        border-radius: 12px;
        padding-left: 14px;
        font-weight: bold;
        font-size: 24px;    
        &:hover{
            background-color: rgba(0, 255, 255, 0.576);
        }                    
    }

    #addbtn{
        width: 70px;
        height: 40px;
        border-radius: 12px;
        border: 1px solid rgb(59, 210, 190);
        background-color:rgb(185, 245, 244) ;
        font-weight: bold;
        font-size: 16px;
        color: rgba(5, 179, 222, 0.616);
        &:hover{
            color: rgb(185, 245, 244);
            background-color: rgba(159, 3, 81, 0.616);
        }
        &:active{
            scale:1.05
        }
    }
    #delbtn{
        width: fit-content;
        height: 40px;
        border-radius: 12px;
        border: 1px solid rgb(255, 255, 255);
        background-color: rgb(250, 154, 60);
        font-weight: bold;
        font-size: 16px;
        color: rgb(232, 9, 39);
        &:hover{
            background-color: rgb(232, 9, 39) ;
            color: rgb(250, 154, 60);
        }
        &:active{
            scale:1.05
        }  
    }
    .remove-btn{
        width: fit-content;
        height: 40px;
        border-radius: 12px;
        border: 1px solid rgb(255, 255, 255);
        background-color: rgb(232, 9, 39);
        font-weight: bold;
        font-size: 16px;
        color: rgb(238, 237, 237);
        transition: 1s;
        margin-right: 5px;
        &:hover{
            background-color: rgb(238, 237, 237) ;
            color: rgb(232, 9, 39);
            scale:1.05;
            border: 1px solid rgb(232, 9, 39);
        }
       
    }
    